#top #wrap_all .avia-slideshow .av-slideshow-caption.av-akn2fu-c1ef9db7ccdf5c12f463c6ff79aa640c__1 .avia-caption-title{
font-size:70px;
}
#top .avia-slideshow .av-slideshow-caption.av-akn2fu-c1ef9db7ccdf5c12f463c6ff79aa640c__1 .avia-caption-content{
font-size:20px;
}
#top .avia-slideshow .av-slideshow-caption.av-akn2fu-c1ef9db7ccdf5c12f463c6ff79aa640c__1 .avia-caption-content p{
font-size:20px;
}

.flex_cell.av-8zvphe-2f881319f308bb1498683ea680e5f3d4{
vertical-align:top;
background-color:#b02b2c;
}
.responsive #top #wrap_all .flex_cell.av-8zvphe-2f881319f308bb1498683ea680e5f3d4{
padding:5px 5px 5px 5px !important;
}

#top .av_textblock_section.av-8wwmjm-1d0bd8a9f89fb74ecd3c970ca26189d6 .avia_textblock{
font-size:18px;
color:#ffffff;
}

.flex_cell.av-8zvphe-23-7437eb9e6c128bae8bff9b717cb5c1a9{
vertical-align:top;
background-color:#658529;
}
.responsive #top #wrap_all .flex_cell.av-8zvphe-23-7437eb9e6c128bae8bff9b717cb5c1a9{
padding:40px 40px 40px 40px !important;
}

#top .av_textblock_section.av-8wwmjm-22-49bdbfe0ea48b3361eef7e7df12d7dda .avia_textblock{
font-size:18px;
color:#ffffff;
}

.avia-section.av-85yw1u-2d7be0991168d46bae3682d67bded72f{
background-color:#efd0a3;
background-image:unset;
}

.flex_column.av-81vq7m-4fe8a751baa0df69fc828e368b895b05{
border-width:10px;
border-color:#e8bc83;
border-style:solid;
border-radius:5px 5px 5px 5px;
padding:0px 0px 0px 0px;
background-color:#c56e29;
}

.avia-image-container.av-7uhb5u-91e4dff34a9dc50974dd02439d16491b img.avia_image{
box-shadow:none;
}
.avia-image-container.av-7uhb5u-91e4dff34a9dc50974dd02439d16491b .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-7oxkkq-ff4a93ecf174e21d00d5c4c641bd2d62 .avia_textblock{
font-size:22px;
color:#ffffff;
}

#top .hr.av-r8gju-49b5ecaa68adeead7d7082d3e89ce8db{
margin-top:-10px;
margin-bottom:10px;
}
.hr.av-r8gju-49b5ecaa68adeead7d7082d3e89ce8db .hr-inner{
width:50px;
border-color:#cdcbe8;
max-width:45%;
}

#top .av_textblock_section.av-qkkze-a7e3db3947c8e7ef5a085224e5b3e706 .avia_textblock{
color:#ffffff;
}

.flex_column.av-76mk1e-81811cbd891ab21931bb3b227754e596{
border-width:10px;
border-color:#e8bc83;
border-style:solid;
border-radius:5px 5px 5px 5px;
padding:0px 0px 0px 0px;
background-color:#c56e29;
}

.avia-image-container.av-73yq6y-a1e7856c600f7ed04efa8d9b12c9bda6 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-73yq6y-a1e7856c600f7ed04efa8d9b12c9bda6 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-6vagoi-5292a87e7bda3ecf9a0295e6158ab123 .avia_textblock{
font-size:22px;
color:#ffffff;
}

#top .hr.av-6qqo2q-a5fc75930482492c6bc861afd24fb9d6{
margin-top:-10px;
margin-bottom:10px;
}
.hr.av-6qqo2q-a5fc75930482492c6bc861afd24fb9d6 .hr-inner{
width:50px;
border-color:#cdcbe8;
max-width:45%;
}

#top .av_textblock_section.av-6hnvey-55ef67a7662047df6a36cc0910fca5ed .avia_textblock{
color:#ffffff;
}

.flex_column.av-6g1hka-1b75faaa4f63218da80b358e11363d70{
border-width:10px;
border-color:#e8bc83;
border-style:solid;
border-radius:5px 5px 5px 5px;
padding:0px 0px 0px 0px;
background-color:#c56e29;
}

.avia-image-container.av-66gtdu-9f79febf4a2fc11e7a5be691adec6d1e img.avia_image{
box-shadow:none;
}
.avia-image-container.av-66gtdu-9f79febf4a2fc11e7a5be691adec6d1e .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-642xka-6a6c9a8d24bb5f2bf8ab7718beb517b1 .avia_textblock{
font-size:22px;
color:#ffffff;
}

#top .hr.av-5w0alm-a35f5e200458eae6d74929137d26ba04{
margin-top:-10px;
margin-bottom:10px;
}
.hr.av-5w0alm-a35f5e200458eae6d74929137d26ba04 .hr-inner{
width:50px;
border-color:#cdcbe8;
max-width:45%;
}

#top .av_textblock_section.av-5pbt6y-0394a37cf9d5dc11cd1537cf15506da2 .avia_textblock{
color:#ffffff;
}

.flex_column.av-5hlh4q-bb0847c8a606b2ac2d88d35ee6b9358c{
border-width:10px;
border-color:#e8bc83;
border-style:solid;
border-radius:5px 5px 5px 5px;
padding:0px 0px 0px 0px;
background-color:#c56e29;
}

.avia-image-container.av-5d8r5m-3a8776a4666f193d6bf09cd292f5e6e7 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-5d8r5m-3a8776a4666f193d6bf09cd292f5e6e7 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-1v78i-472a7c18f8c3056bf6f987ac9f7ce776 .avia_textblock{
font-size:22px;
color:#ffffff;
}

#top .hr.av-4zet8a-57ba98a3e652be18a3c1e81e05447e30{
margin-top:-10px;
margin-bottom:10px;
}
.hr.av-4zet8a-57ba98a3e652be18a3c1e81e05447e30 .hr-inner{
width:50px;
border-color:#cdcbe8;
max-width:45%;
}

#top .av_textblock_section.av-4wi5he-6adf1838b625f7508e491b8eba2dff63 .avia_textblock{
color:#ffffff;
}

.avia-section.av-4otq3e-22b74ab9237ef9bc9fbc249c497e6a73{
background-color:#658529;
background-image:unset;
}

.flex_column.av-4jbmx6-c72ac5b5b0cf2f1f287d4318e388864c{
border-width:10px;
border-color:#c1cfac;
border-style:solid;
border-radius:5px 5px 5px 5px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-4fi17u-2e68e577cae54c9e9ae81c92575611ae img.avia_image{
box-shadow:none;
}
.avia-image-container.av-4fi17u-2e68e577cae54c9e9ae81c92575611ae .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-48o5d6-292d2c0efaf432d6793da4d984436eb5{
border-radius:5px 5px 5px 5px;
padding:0px 0px 0px 0px;
}

#top .av_textblock_section.av-441uhe-f88fb62dac9c20f06a7bdfc48f364ff5 .avia_textblock{
font-size:30px;
color:#ffffff;
}

#top .hr.av-3xmwfu-174c47fac17f0295b65df1775b42b1ac{
margin-top:-20px;
margin-bottom:10px;
}
.hr.av-3xmwfu-174c47fac17f0295b65df1775b42b1ac .hr-inner{
width:50px;
border-color:#c1cfac;
max-width:45%;
}

#top .av_textblock_section.av-3pu23m-a68348113a299925189f280c098f5744 .avia_textblock{
color:#ffffff;
}

.avia-section.av-85yw1u-21-ebbc7e5757dc2911718ae174b71ffce6{
background-color:#95d2d3;
background-image:unset;
}

.flex_column.av-81vq7m-20-04ac2b3706ccccb41f930a7d286aef0d{
border-width:10px;
border-color:#00c1c2;
border-style:solid;
border-radius:5px 5px 5px 5px;
padding:0px 0px 0px 0px;
background-color:#009e9f;
}

.avia-image-container.av-7uhb5u-19-034cb7c364a0000344c99a9cb404c344 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-7uhb5u-19-034cb7c364a0000344c99a9cb404c344 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-7oxkkq-18-5817cf3b5779646d590e2c755913a97c .avia_textblock{
font-size:22px;
color:#ffffff;
}

#top .hr.av-r8gju-17-0c8953877e02b0b5fa2cbdaeeb90d6e2{
margin-top:-10px;
margin-bottom:10px;
}
.hr.av-r8gju-17-0c8953877e02b0b5fa2cbdaeeb90d6e2 .hr-inner{
width:50px;
border-color:#cdcbe8;
max-width:45%;
}

#top .av_textblock_section.av-qkkze-16-5639636088b77309097721f39d10e5f4 .avia_textblock{
color:#ffffff;
}

.flex_column.av-76mk1e-15-9fdb9a4740b59f9c227e8b3889b7be83{
border-width:10px;
border-color:#00c1c2;
border-style:solid;
border-radius:5px 5px 5px 5px;
padding:0px 0px 0px 0px;
background-color:#009e9f;
}

.avia-image-container.av-73yq6y-14-1a4c1ca5155a1947563f0c5edcd3774a img.avia_image{
box-shadow:none;
}
.avia-image-container.av-73yq6y-14-1a4c1ca5155a1947563f0c5edcd3774a .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-6vagoi-13-42040b1a746068dd075c8b7ef5672113 .avia_textblock{
font-size:22px;
color:#ffffff;
}

#top .hr.av-6qqo2q-12-4cec46795c9d920beba40a72c56c651c{
margin-top:-10px;
margin-bottom:10px;
}
.hr.av-6qqo2q-12-4cec46795c9d920beba40a72c56c651c .hr-inner{
width:50px;
border-color:#cdcbe8;
max-width:45%;
}

#top .av_textblock_section.av-6hnvey-11-af94efbda8f60bce09f58bed11222e78 .avia_textblock{
color:#ffffff;
}

.flex_column.av-6g1hka-10-f833df8f92a1ba15f492d5f87577d65a{
border-width:10px;
border-color:#00c1c2;
border-style:solid;
border-radius:5px 5px 5px 5px;
padding:0px 0px 0px 0px;
background-color:#009e9f;
}

.avia-image-container.av-66gtdu-9-15c79c9db55b9a4fd0d7128836593bff img.avia_image{
box-shadow:none;
}
.avia-image-container.av-66gtdu-9-15c79c9db55b9a4fd0d7128836593bff .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-642xka-8-a38b278359598c481812aab88338ab7b .avia_textblock{
font-size:22px;
color:#ffffff;
}

#top .hr.av-5w0alm-7-6eda71e2d2bda1f5af307a4eb5f3e92e{
margin-top:-10px;
margin-bottom:10px;
}
.hr.av-5w0alm-7-6eda71e2d2bda1f5af307a4eb5f3e92e .hr-inner{
width:50px;
border-color:#cdcbe8;
max-width:45%;
}

#top .av_textblock_section.av-5pbt6y-6-ff8f64b2783d2bea8f2d0716de3b2e8e .avia_textblock{
color:#ffffff;
}

.flex_column.av-5hlh4q-5-978e81d581559de96de2a783d84fc254{
border-width:10px;
border-color:#00c1c2;
border-style:solid;
border-radius:5px 5px 5px 5px;
padding:0px 0px 0px 0px;
background-color:#009e9f;
}

.avia-image-container.av-5d8r5m-4-659f0b373dac823c13dc98092851a561 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-5d8r5m-4-659f0b373dac823c13dc98092851a561 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-1v78i-3-3b61d6ee6d4711f1b66bdf7d9aef2cf5 .avia_textblock{
font-size:22px;
color:#ffffff;
}

#top .hr.av-4zet8a-2-9c94551ad0b031170caa77644980dce1{
margin-top:-10px;
margin-bottom:10px;
}
.hr.av-4zet8a-2-9c94551ad0b031170caa77644980dce1 .hr-inner{
width:50px;
border-color:#cdcbe8;
max-width:45%;
}

#top .av_textblock_section.av-4wi5he-1-0ea5ece70c3a7d60bb9c4a388ed5ea30 .avia_textblock{
color:#ffffff;
}

.avia-section.av-6rljm-53e6c40a4b32349af0752288893244f3{
background-color:#efeff0;
background-image:unset;
}

